.content-mail {
    border: 1px solid  #23c0e9;
    .content-mail-header {
        background-color: #23c0e9;
        img {
            width: 200px;
        }
    }
    .content-mail-body {
        padding: 30px;
        .content-mail-footer {
            margin-top:40px;
            .content-mail-footer-information {
                margin-top: 15px;
                table {
                    font-size: 14px;
                    font-style: italic;
                }
            }
        }
    }
}
