.company {
    width: 10%;
}
.name_company {
    font-size: 28px !important;
}
.content_client {
    background-color: #e9e9e9;
}
.logo_company {
    width: 250px !important;
}
.twitter-typeahead {
    width: 100%;
}
.tt-menu {
    width: 100%;
}
.btn-back {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#23c0e9;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
    z-index:99999999;
}

.my-float {
    margin-top:22px;
}

.jp_add_resume_cont ul{
    margin-top: 0px;
}

.jp_cp_accor_heading_wrapper p{
    padding-bottom: 0px;
}
.content-cadidate-description{
    overflow: auto;
}
